<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    {% if site.env %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "app.min.css" %}{% endset %}
      <style> 
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/static/app.min.css">
    {% endif %}
  </head>
  <body>
    {% include "navigation/navigation-accessibility.njk" %}
    {{ content | safe }}
  </body>
  <script src="/static/app.min.js"></script>
</html>
